<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>TestWebProj</display-name>
  <session-config>
  	<session-timeout>10</session-timeout>
  </session-config>
  <context-param>
    <param-name>message</param-name>
    <param-value>This is JEE</param-value>
  </context-param>
  <servlet>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/registerProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductSearchServlet</display-name>
    <servlet-name>ProductSearchServlet</servlet-name>
    <servlet-class>com.controller.ProductSearchServlet</servlet-class>
    <init-param>
      <param-name>driverclass</param-name>
      <param-value>org.gjt.mm.mysql.Driver</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductSearchServlet</servlet-name>
    <url-pattern>/productSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllProductsServlet</display-name>
    <servlet-name>AllProductsServlet</servlet-name>
    <servlet-class>com.controller.AllProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllProductsServlet</servlet-name>
    <url-pattern>/allProducts</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/loginProcess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountServlet</display-name>
    <servlet-name>AccountServlet</servlet-name>
    <servlet-class>com.controller.AccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountServlet</servlet-name>
    <url-pattern>/accountServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletA</display-name>
    <servlet-name>ServletA</servlet-name>
    <servlet-class>com.controller.ServletA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletA</servlet-name>
    <url-pattern>/ServA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletB</display-name>
    <servlet-name>ServletB</servlet-name>
    <servlet-class>com.controller.ServletB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletB</servlet-name>
    <url-pattern>/servB</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.controller.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/validateUserServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProductServlet</display-name>
    <servlet-name>DeleteProductServlet</servlet-name>
    <servlet-class>com.controller.DeleteProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProductServlet</servlet-name>
    <url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateProductServlet</display-name>
    <servlet-name>UpdateProductServlet</servlet-name>
    <servlet-class>com.controller.UpdateProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateProductServlet</servlet-name>
    <url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>com.listener.TestListener</listener-class>
  </listener>
  <filter>
    <display-name>TestFilter</display-name>
    <filter-name>TestFilter</filter-name>
    <filter-class>com.filter.TestFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <servlet-name>AllProductsServlet</servlet-name>
  </filter-mapping>
  <filter-mapping>
    <filter-name>TestFilter</filter-name>
    <servlet-name>ServletA</servlet-name>
  </filter-mapping>
  <filter>
    <display-name>SecondFilter</display-name>
    <filter-name>SecondFilter</filter-name>
    <filter-class>com.filter.SecondFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SecondFilter</filter-name>
    <servlet-name>AllProductsServlet</servlet-name>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServletOne</display-name>
    <servlet-name>ShopServletOne</servlet-name>
    <servlet-class>com.controller.ShopServletOne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServletOne</servlet-name>
    <url-pattern>/shopServOne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServletTwo</display-name>
    <servlet-name>ShopServletTwo</servlet-name>
    <servlet-class>com.controller.ShopServletTwo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServletTwo</servlet-name>
    <url-pattern>/shopServTwo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServletThree</display-name>
    <servlet-name>ShopServletThree</servlet-name>
    <servlet-class>com.controller.ShopServletThree</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServletThree</servlet-name>
    <url-pattern>/shopServThree</url-pattern>
  </servlet-mapping>
</web-app>